applications/WebServiceProject/src/main/webapp/wsdl/HelloWordService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://helloworld.webservice.djimenez.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://helloworld.webservice.djimenez.com" xmlns:intf="http://helloworld.webservice.djimenez.com" xmlns:tns1="http://model.helloworld.webservice.djimenez.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://helloworld.webservice.djimenez.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.helloworld.webservice.djimenez.com"/>
   <element name="getResponse">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="surname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResponseResponse">
    <complexType>
     <sequence>
      <element name="getResponseReturn" type="tns1:Response"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSaludoLycka">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSaludoLyckaResponse">
    <complexType>
     <sequence>
      <element name="getSaludoLyckaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.helloworld.webservice.djimenez.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Response">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="surname" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSaludoLyckaRequest">

      <wsdl:part element="impl:getSaludoLycka" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResponseRequest">

      <wsdl:part element="impl:getResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSaludoLyckaResponse">

      <wsdl:part element="impl:getSaludoLyckaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResponseResponse">

      <wsdl:part element="impl:getResponseResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="HelloWordServiceImpl">

      <wsdl:operation name="getResponse">

         <wsdl:input message="impl:getResponseRequest" name="getResponseRequest"/>

         <wsdl:output message="impl:getResponseResponse" name="getResponseResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSaludoLycka">

         <wsdl:input message="impl:getSaludoLyckaRequest" name="getSaludoLyckaRequest"/>

         <wsdl:output message="impl:getSaludoLyckaResponse" name="getSaludoLyckaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWordServiceImplSoapBinding" type="impl:HelloWordServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResponse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResponseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResponseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSaludoLycka">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSaludoLyckaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSaludoLyckaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWordServiceImplService">

      <wsdl:port binding="impl:HelloWordServiceImplSoapBinding" name="HelloWordServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/webService/services/HelloWordServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
